body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: white;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav .menu-img {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

nav .logo {
    width: 160px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

button {
    background: #efefef;
    cursor: pointer;

    border: 0;
    border-radius: 20px;
    outline: 0;
    padding: 0;
    width: 60px;
    height: 30px;
}

button span {
    background: #999;
    display: block;

    border-radius: 50%;
    margin: 2px;
    height: 26px;
    width: 26px;
    transition: background-color 0.5s, margin-left 0.5s;
}

.lamp-container {
    position: absolute;
    margin-left: 50px;
    top: -20px;
    left: 22%;
    width: 150px;
}

.lamp {
    width: 100%;
}

.light {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    margin-left: -8px;
    opacity: 0;
    transition: opacity 0.5s;
}

.text-container {
    max-width: 600px;
    margin-top: 2%;
    margin-left: 50%;
}

.text-container h1 {
    font-size: 50px;
    font-weight: 400;
}

.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 30px;
}

.control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
}

.control .line {
    width: 250px;
    height: 4px;
    background: white;
    margin: 0 20px;
    border-radius: 2px;
}

.control .line span {
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #00986f;
    display: block;
}

.active{
    background-color: green;
}

.active span {
    background-color: white;
    margin-left: 31px;
}

.on {
    opacity: 1;
}